<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css"/>
    <title>Document</title>
</head>
<body>
    <form action="/login" method="POST">
        <input name="regno" class="input" type="text" placeholder="Registration Number"/>
        <input name="password" class="input" type="password" placeholder="Password"/>
        <button id="btn" type="submit">Login</button>
    </form>

    <p id="info">Allows you to change details</p>
</body>
</html>