<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="start.css"/>
    <title>START</title>
</head>
<body>
    <form action="/login" method="GET" id="faculty">
        <button type="submit" class="btn">FACULTY</button>
        <button type="submit" class="btn"><img class="btn-sign" src="https://cdna.artstation.com/p/assets/images/images/000/727/174/large/serafima-brovkina-.jpg?1431634670" width="130px" height="259px"/></button>
    </form>            

    <form action="/students" method="GET" id="student">
        <button type="submit" class="btn">STUDENT</button>
        <button type="submit" class="btn"><img class="btn-sign" src="https://i.pinimg.com/736x/24/70/16/247016dfe91b8b0d6ff89b128cfcbae7.jpg" width="130px" height="259px"/></button>
    </form>
    
</body>
</html>