<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="start.css"/>
    <title>START</title>
</head>
<body>
    <form action="/login" method="GET" id="faculty">
        <button type="submit" class="btn">FACULTY</button>
        <button type="submit" class="btn-sign">&#128394</button>
    </form>            

    <form action="/students" method="GET" id="student">
        <button type="submit" class="btn">STUDENT</button>
        <button type="submit" class="btn-sign">&#128366;</button>
    </form>
    
</body>
</html>